@font-face {
font-family: "good";
src: url("font/good.otf") format("opentype");
}
* {
font-family: "rounded";
font-size: 1.25vw;
color: #f0f0f0;
margin: 0;
padding: 0;
}
#hd {
position: fixed;
display: flex;
width: 90%;
height: 8vw;
top: 0;
left: 5vw;
right: 5vw;
justify-content: center;
align-items: center;
background: rgba(240, 240, 240, 0.7);
z-index: 1000;
border-radius: 5vw;
}
#logo {
display: flex;
width: 10%;
height: 100%;
justify-content: center;
align-items: center;
}
.lg {
position:relative;
display: flex;
width: 8vw;
height: 5vw;
top:0;
left:0;
border-radius: 50%;
}
.lg:hover{
transform: scale(1.2);
}
#ls {
list-style-type: none;
display: flex;
width: 60%;
height: 3vw;
flex-direction: row;
justify-content: space-evenly;
align-items: flex-start;
}
.nv {
font-family: "rounded";
font-size: 1vw;
font-weight: 700;
text-align: center;
text-decoration: none;
letter-spacing: 0.2vw;
color: transparent;
display: flex;
width: 6vw;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
}
.nv:hover {
color: #0d0d0d;
}
.im {
width: 2vw;
}
.iml {
width: 2vw;
}
#divhd {
display: none;
}
#lsm {
display: none;
}
@media screen and (max-width: 768px) {
#hd {
width:100%;
height: 15vw;
top: 0;
left: 0;
right: 0;
justify-content: space-between;
}
#ls {
display: none;
}
#divhd {
display: flex;
}
#mnm {
display: flex;
width: 10vw;
}
#logo {
width: 25%;
}
.lg {
width: 20vw;
height: 10vw;
padding: 0;
justify-content: center;
align-items: center;
}
#lsm {
list-style-type: none;
position: absolute;
display: none;
width: 40vw;
height: 80vw;
top: 0;
right: 0;
padding: 1vw;
flex-direction: column;
justify-content: space-around;
align-items: flex-end;
background: #f0f0f0;
box-shadow: 0.1vw 0.1vw 1vw #f0f0f0;
border-bottom-left-radius: 10vw;
}
.nvls {
font-size: 5vw;
text-decoration: none;
color: #0d0d0d;
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
}
.imls {
display: flex;
width: 5vw;
padding: 2vw;
justify-content: center;
justify-content: center;
align-items: center;
}
.imlss {
display: flex;
width: 5vw;
padding: 2vw;
justify-content: center;
align-items: center;
}
}
#ft {
position: absolute;
display: flex;
width: 100%;
left: 0;
right: 0;
bottom: revert;
flex-direction: column;
justify-content: center;
align-items: center;
background: #F0F0F0;
}
.fttx {
font-size: 1.25vw;
font-family: "rounded";
letter-spacing: 0.2vw;
color:#0d0d0d;
display: flex;
width: 100%;
height: 3vw;
justify-content: center;
align-items: center;
}
@media screen and (max-width:768px) {
#ft {
position: absolute;
display: flex;
width: 100%;
left: 0;
right: 0;
bottom: revert;
flex-direction: column;
justify-content: center;
align-items: center;
background: #F0F0F0;
}
.fttx {
font-size: 5vw;
font-family: "rounded";
text-align: center;
display: flex;
width: 100%;
height: 20vw;
justify-content: center;
align-items: center;
}
}
#main {
display: flex;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
flex-direction: column;
justify-content: center;
align-items: center;
}
#hero {
display: flex;
width: 100%;
height: 50vw;
justify-content: left;
align-items: center;
overflow: hidden;
background:#f0f0f0;
}
.slidecarousel {
position: absolute;
display:flex;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
transition: opacity 2s ease-in-out;
}
.slidecarousel img {
display:flex;
width: 100%;
height: 50vw;
justify-content:center;
align-items:flex-start;
object-fit: cover; /* Para garantir que a imagem cubra todo o espaço do contêiner */
}
.slidecarousel.active {
opacity: 1;
}
.tt0{
font-family: 'good';
font-size:5vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:50%;
left:10%;
}
.tt01{
font-family: 'good';
font-size:5vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:25%;
left:10%;
}
.tt02{
font-family: 'good';
font-size:5vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:80%;
left:10%;
}
.tt03{
font-family: 'good';
font-size:5vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:50%;
left:60%;
}
@media screen and (max-width: 768px) {
#hero {
height: 150vw;
background-color: #f0f0f0;
background-repeat: no-repeat;
background-position-x: -15vw;
}
.slidecarousel {
position: absolute;
display:flex;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
transition: opacity 2s ease-in-out;
}
.slidecarousel img {
display:flex;
width: 100%;
height: 150vw;
justify-content:center;
align-items:flex-start;
object-fit: cover; /* Para garantir que a imagem cubra todo o espaço do contêiner */
}
.slidecarousel.active {
opacity: 1;
}
.tt0{
font-family: 'good';
font-size:10vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:80%;
left:10%;
}
.tt01{
font-family: 'good';
font-size:10vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:25%;
left:5%;
}
.tt02{
font-family: 'good';
font-size:10vw;
text-align:center;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:80%;
left:0%;
}
.tt03{
font-family: 'good';
font-size:10vw;
text-shadow:0 0 1vw #0d0d0d;
position:absolute;
top:50%;
left:10%;
}
}
#produtos {
display: flex;
width: 100%;
height: 100%;
padding:5vw 0;
flex-direction: column;
justify-content: center;
align-items: center;
background: #f0f0f0;
}
.lk{
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
}
.lk h2,.lk a{
font-family:'good';
font-size:1.5vw;
text-align: justify;
text-decoration:none;
color: #0d0d0d;
display:flex;
width:80%;
padding:2vw 0;
justify-content:center;
align-items:center;
}
.lk p{
font-family:'good';
font-size:1.5vw;
text-align: justify;
color: #0d0d0d;
display:flex;
width:65%;
padding:1vw 0;
justify-content:center;
align-items:center;
}
.money:hover{
color: #F0F0F0;
width:40%;
background:#0d0d0d;
border-radius:5vw;
cursor:pointer;
}
.dv3 {
display: grid;
width: 90%;
justify-items: center;
align-items: center;
grid-template-columns: repeat(2, 1fr);
gap: 2vw;
}
.im3 {
display: inline-block;
width:30vw;
height: 25vw;
border: 0.2vw solid rgba(0, 0, 0, 0.8);
box-shadow: 0.1vw 0.1vw 0.5vw #0d0d0d;
border-radius: 2vw;
cursor: pointer;
}
.modal {
display: none; /* Oculta o modal por padrão */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com opacidade */
}
.modal-content {
display: block;
margin:4vw auto;
padding:5vw;
width: 80%;
max-width: 27vw;
border-radius:10vw;
}
.close {
position: absolute;
top: 10px;
right: 25px;
color: #fff;
font-size: 35px;
font-weight: bold;
cursor: pointer;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: #fff;
font-weight: bold;
font-size: 24px;
transition: 0.6s ease;
border-radius: 3px;
}
.prev {
left: 0;
}
.next {
right: 0;
}
.prev:hover, .next:hover {
background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
#produtos {
display: flex;
width: 100%;
height: 120%;
flex-direction: column;
justify-content: center;
align-items: center;
background: #f0f0f0;
}
.lk{
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
}
.lk h2,.lk a{
font-family:'good';
font-size:5vw;
text-align: justify;
text-decoration:none;
color: #0d0d0d;
display:flex;
width:80%;
padding:2vw 0;
justify-content:center;
align-items:center;
}
.lk p{
font-family:'good';
font-size:4vw;
text-align: justify;
color: #0d0d0d;
display:flex;
width:65%;
padding:1vw 0;
justify-content:center;
align-items:center;
}
.money:hover{
color: #F0F0F0;
width:40%;
background:#0d0d0d;
border-radius:5vw;
cursor:pointer;
}
.dv3 {
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.im3 {
width: 50vw;
height: auto;
margin: 0.2vw;
box-shadow: 0.1vw 0.1vw 0.5vw #0d0d0d;
border-radius: 2vw;
}
.modal {
display: none; /* Oculta o modal por padrão */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com opacidade */
}
.modal-content {
display: block;
margin:4vw auto;
padding:5vw;
width: 80%;
max-width: 27vw;
border-radius:10vw;
}
.close {
position: absolute;
top: 10px;
right: 25px;
color: #fff;
font-size: 35px;
font-weight: bold;
cursor: pointer;
}
}
#parceiros {
display: flex;
width: 100%;
height: 35vw;
flex-direction: column;
justify-content: center;
align-items: center;
background: #f0f0f0;
}
.tt5 {
font-family: "rounded";
font-size: 5vw;
font-weight: 700;
text-align: center;
letter-spacing: 0.2vw;
color: #0d0d0d;
display: flex;
width: 100%;
padding:5vw 0;
justify-content: center;
align-items: center;
}
@keyframes scroll {
0% {
transform: translateX(0);
}
100% {
transform: translateX(calc(-250px * 9.55));
}
}
.slider {
position: relative;
width: 100%;
height: 30vw;
margin: auto;
background: transparent;
overflow: hidden;
}
.slider::before,
.slider::after {
content: "";
position: absolute;
width: 20vw;
height: 30vw;
background: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(137, 6, 230, 0) 100%);
z-index: 2;
}
.slider::after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}
.slider::before {
top: 0;
left: 0;
}
.slide-track {
display: flex;
width: calc(5vw * 9.55);
animation: scroll 10s linear infinite;
}
.slide {
display: flex;
width: 25vw;
height: 25vw;
margin: 0 10vw;
padding: 1vw 0 0 0;
justify-content: center;
align-items: flex-start;
}
.slide-image{
margin-top:2vw;
width:15vw;
height:auto;
}
@media screen and (max-width:768px) {
#parceiros {
display: flex;
width: 100%;
height: 50vw;
flex-direction: column;
justify-content: center;
align-items: center;
background: #f0f0f0;
}
@keyframes scroll {
0% {
transform: translateX(0);
}
100% {
transform: translateX(calc(-250px * 3));
}
}
.slider {
position: relative;
width: 100%;
height: 50vw;
margin: auto;
background: transparent;
overflow: hidden;
}
.slider::before,
.slider::after {
content: "";
position: absolute;
width: 20vw;
height: 50vw;
background: linear-gradient(to right, rgba(240, 240, 240, 1) 0%, rgba(137, 6, 230, 0) 100%);
z-index: 2;
}
.slider::after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}
.slider::before {
top: 0;
left: 0;
}
.slide-track {
display: flex;
width: calc(25vw * 8);
animation: scroll 5s linear infinite;
}
.slide {
display: flex;
width: 25vw;
height: 25vw;
margin: 0 10vw;
padding: 1vw 0 0 0;
justify-content: center;
align-items: flex-start;
}
}
.whatsappicon{
position:fixed;
width:5vw;
bottom:1vw;
right:1vw;
cursor:pointer;
z-index:99;
animation: shake  6s infinite ease-in-out;
}
@keyframes shake {
0% { transform: rotate(0deg); }
25% { transform: rotate(25deg); }
75% { transform: rotate(-25deg); }
}
@media screen and (max-width:768px) {
.whatsappicon{
position:fixed;
width:20vw;
bottom:15vw;
right:1vw;
cursor:pointer;
z-index:99;
animation: shake  6s infinite ease-in-out;
}
}
[data-aos][data-aos][data-aos-duration="50"],body[data-aos-duration="50"] [data-aos] { transition-duration: 50ms}[data-aos][data-aos][data-aos-delay="50"],body[data-aos-delay="50"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate { transition-delay: 50ms}[data-aos][data-aos][data-aos-duration="100"],body[data-aos-duration="100"] [data-aos] { transition-duration: .1s}[data-aos][data-aos][data-aos-delay="100"],body[data-aos-delay="100"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="100"].aos-animate,body[data-aos-delay="100"] [data-aos].aos-animate { transition-delay: .1s}[data-aos][data-aos][data-aos-duration="150"],body[data-aos-duration="150"] [data-aos] { transition-duration: .15s}[data-aos][data-aos][data-aos-delay="150"],body[data-aos-delay="150"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="150"].aos-animate,body[data-aos-delay="150"] [data-aos].aos-animate { transition-delay: .15s}[data-aos][data-aos][data-aos-duration="200"],body[data-aos-duration="200"] [data-aos] { transition-duration: .2s}[data-aos][data-aos][data-aos-delay="200"],body[data-aos-delay="200"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="200"].aos-animate,body[data-aos-delay="200"] [data-aos].aos-animate { transition-delay: .2s}[data-aos][data-aos][data-aos-duration="250"],body[data-aos-duration="250"] [data-aos] { transition-duration: .25s}[data-aos][data-aos][data-aos-delay="250"],body[data-aos-delay="250"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="250"].aos-animate,body[data-aos-delay="250"] [data-aos].aos-animate { transition-delay: .25s}[data-aos][data-aos][data-aos-duration="300"],body[data-aos-duration="300"] [data-aos] { transition-duration: .3s}[data-aos][data-aos][data-aos-delay="300"],body[data-aos-delay="300"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="300"].aos-animate,body[data-aos-delay="300"] [data-aos].aos-animate { transition-delay: .3s}[data-aos][data-aos][data-aos-duration="350"],body[data-aos-duration="350"] [data-aos] { transition-duration: .35s}[data-aos][data-aos][data-aos-delay="350"],body[data-aos-delay="350"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="350"].aos-animate,body[data-aos-delay="350"] [data-aos].aos-animate { transition-delay: .35s}[data-aos][data-aos][data-aos-duration="400"],body[data-aos-duration="400"] [data-aos] { transition-duration: .4s}[data-aos][data-aos][data-aos-delay="400"],body[data-aos-delay="400"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="400"].aos-animate,body[data-aos-delay="400"] [data-aos].aos-animate { transition-delay: .4s}[data-aos][data-aos][data-aos-duration="450"],body[data-aos-duration="450"] [data-aos] { transition-duration: .45s}[data-aos][data-aos][data-aos-delay="450"],body[data-aos-delay="450"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="450"].aos-animate,body[data-aos-delay="450"] [data-aos].aos-animate { transition-delay: .45s}[data-aos][data-aos][data-aos-duration="500"],body[data-aos-duration="500"] [data-aos] { transition-duration: .5s}[data-aos][data-aos][data-aos-delay="500"],body[data-aos-delay="500"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="500"].aos-animate,body[data-aos-delay="500"] [data-aos].aos-animate { transition-delay: .5s}[data-aos][data-aos][data-aos-duration="550"],body[data-aos-duration="550"] [data-aos] { transition-duration: .55s}[data-aos][data-aos][data-aos-delay="550"],body[data-aos-delay="550"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="550"].aos-animate,body[data-aos-delay="550"] [data-aos].aos-animate { transition-delay: .55s}[data-aos][data-aos][data-aos-duration="600"],body[data-aos-duration="600"] [data-aos] { transition-duration: .6s}[data-aos][data-aos][data-aos-delay="600"],body[data-aos-delay="600"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="600"].aos-animate,body[data-aos-delay="600"] [data-aos].aos-animate { transition-delay: .6s}[data-aos][data-aos][data-aos-duration="650"],body[data-aos-duration="650"] [data-aos] { transition-duration: .65s}[data-aos][data-aos][data-aos-delay="650"],body[data-aos-delay="650"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="650"].aos-animate,body[data-aos-delay="650"] [data-aos].aos-animate { transition-delay: .65s}[data-aos][data-aos][data-aos-duration="700"],body[data-aos-duration="700"] [data-aos] { transition-duration: .7s}[data-aos][data-aos][data-aos-delay="700"],body[data-aos-delay="700"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="700"].aos-animate,body[data-aos-delay="700"] [data-aos].aos-animate { transition-delay: .7s}[data-aos][data-aos][data-aos-duration="750"],body[data-aos-duration="750"] [data-aos] { transition-duration: .75s}[data-aos][data-aos][data-aos-delay="750"],body[data-aos-delay="750"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="750"].aos-animate,body[data-aos-delay="750"] [data-aos].aos-animate { transition-delay: .75s}[data-aos][data-aos][data-aos-duration="800"],body[data-aos-duration="800"] [data-aos] { transition-duration: .8s}[data-aos][data-aos][data-aos-delay="800"],body[data-aos-delay="800"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="800"].aos-animate,body[data-aos-delay="800"] [data-aos].aos-animate { transition-delay: .8s}[data-aos][data-aos][data-aos-duration="850"],body[data-aos-duration="850"] [data-aos] { transition-duration: .85s}[data-aos][data-aos][data-aos-delay="850"],body[data-aos-delay="850"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="850"].aos-animate,body[data-aos-delay="850"] [data-aos].aos-animate { transition-delay: .85s}[data-aos][data-aos][data-aos-duration="900"],body[data-aos-duration="900"] [data-aos] { transition-duration: .9s}[data-aos][data-aos][data-aos-delay="900"],body[data-aos-delay="900"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="900"].aos-animate,body[data-aos-delay="900"] [data-aos].aos-animate { transition-delay: .9s}[data-aos][data-aos][data-aos-duration="950"],body[data-aos-duration="950"] [data-aos] { transition-duration: .95s}[data-aos][data-aos][data-aos-delay="950"],body[data-aos-delay="950"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="950"].aos-animate,body[data-aos-delay="950"] [data-aos].aos-animate { transition-delay: .95s}[data-aos][data-aos][data-aos-duration="1000"],body[data-aos-duration="1000"] [data-aos] { transition-duration: 1s}[data-aos][data-aos][data-aos-delay="1000"],body[data-aos-delay="1000"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1000"].aos-animate,body[data-aos-delay="1000"] [data-aos].aos-animate { transition-delay: 1s}[data-aos][data-aos][data-aos-duration="1050"],body[data-aos-duration="1050"] [data-aos] { transition-duration: 1.05s}[data-aos][data-aos][data-aos-delay="1050"],body[data-aos-delay="1050"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1050"].aos-animate,body[data-aos-delay="1050"] [data-aos].aos-animate { transition-delay: 1.05s}[data-aos][data-aos][data-aos-duration="1100"],body[data-aos-duration="1100"] [data-aos] { transition-duration: 1.1s}[data-aos][data-aos][data-aos-delay="1100"],body[data-aos-delay="1100"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1100"].aos-animate,body[data-aos-delay="1100"] [data-aos].aos-animate { transition-delay: 1.1s}[data-aos][data-aos][data-aos-duration="1150"],body[data-aos-duration="1150"] [data-aos] { transition-duration: 1.15s}[data-aos][data-aos][data-aos-delay="1150"],body[data-aos-delay="1150"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1150"].aos-animate,body[data-aos-delay="1150"] [data-aos].aos-animate { transition-delay: 1.15s}[data-aos][data-aos][data-aos-duration="1200"],body[data-aos-duration="1200"] [data-aos] { transition-duration: 1.2s}[data-aos][data-aos][data-aos-delay="1200"],body[data-aos-delay="1200"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1200"].aos-animate,body[data-aos-delay="1200"] [data-aos].aos-animate { transition-delay: 1.2s}[data-aos][data-aos][data-aos-duration="1250"],body[data-aos-duration="1250"] [data-aos] { transition-duration: 1.25s}[data-aos][data-aos][data-aos-delay="1250"],body[data-aos-delay="1250"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1250"].aos-animate,body[data-aos-delay="1250"] [data-aos].aos-animate { transition-delay: 1.25s}[data-aos][data-aos][data-aos-duration="1300"],body[data-aos-duration="1300"] [data-aos] { transition-duration: 1.3s}[data-aos][data-aos][data-aos-delay="1300"],body[data-aos-delay="1300"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1300"].aos-animate,body[data-aos-delay="1300"] [data-aos].aos-animate { transition-delay: 1.3s}[data-aos][data-aos][data-aos-duration="1350"],body[data-aos-duration="1350"] [data-aos] { transition-duration: 1.35s}[data-aos][data-aos][data-aos-delay="1350"],body[data-aos-delay="1350"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1350"].aos-animate,body[data-aos-delay="1350"] [data-aos].aos-animate { transition-delay: 1.35s}[data-aos][data-aos][data-aos-duration="1400"],body[data-aos-duration="1400"] [data-aos] { transition-duration: 1.4s}[data-aos][data-aos][data-aos-delay="1400"],body[data-aos-delay="1400"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1400"].aos-animate,body[data-aos-delay="1400"] [data-aos].aos-animate { transition-delay: 1.4s}[data-aos][data-aos][data-aos-duration="1450"],body[data-aos-duration="1450"] [data-aos] { transition-duration: 1.45s}[data-aos][data-aos][data-aos-delay="1450"],body[data-aos-delay="1450"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1450"].aos-animate,body[data-aos-delay="1450"] [data-aos].aos-animate { transition-delay: 1.45s}[data-aos][data-aos][data-aos-duration="1500"],body[data-aos-duration="1500"] [data-aos] { transition-duration: 1.5s}[data-aos][data-aos][data-aos-delay="1500"],body[data-aos-delay="1500"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1500"].aos-animate,body[data-aos-delay="1500"] [data-aos].aos-animate { transition-delay: 1.5s}[data-aos][data-aos][data-aos-duration="1550"],body[data-aos-duration="1550"] [data-aos] { transition-duration: 1.55s}[data-aos][data-aos][data-aos-delay="1550"],body[data-aos-delay="1550"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1550"].aos-animate,body[data-aos-delay="1550"] [data-aos].aos-animate { transition-delay: 1.55s}[data-aos][data-aos][data-aos-duration="1600"],body[data-aos-duration="1600"] [data-aos] { transition-duration: 1.6s}[data-aos][data-aos][data-aos-delay="1600"],body[data-aos-delay="1600"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1600"].aos-animate,body[data-aos-delay="1600"] [data-aos].aos-animate { transition-delay: 1.6s}[data-aos][data-aos][data-aos-duration="1650"],body[data-aos-duration="1650"] [data-aos] { transition-duration: 1.65s}[data-aos][data-aos][data-aos-delay="1650"],body[data-aos-delay="1650"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1650"].aos-animate,body[data-aos-delay="1650"] [data-aos].aos-animate { transition-delay: 1.65s}[data-aos][data-aos][data-aos-duration="1700"],body[data-aos-duration="1700"] [data-aos] { transition-duration: 1.7s}[data-aos][data-aos][data-aos-delay="1700"],body[data-aos-delay="1700"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1700"].aos-animate,body[data-aos-delay="1700"] [data-aos].aos-animate { transition-delay: 1.7s}[data-aos][data-aos][data-aos-duration="1750"],body[data-aos-duration="1750"] [data-aos] { transition-duration: 1.75s}[data-aos][data-aos][data-aos-delay="1750"],body[data-aos-delay="1750"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1750"].aos-animate,body[data-aos-delay="1750"] [data-aos].aos-animate { transition-delay: 1.75s}[data-aos][data-aos][data-aos-duration="1800"],body[data-aos-duration="1800"] [data-aos] { transition-duration: 1.8s}[data-aos][data-aos][data-aos-delay="1800"],body[data-aos-delay="1800"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1800"].aos-animate,body[data-aos-delay="1800"] [data-aos].aos-animate { transition-delay: 1.8s}[data-aos][data-aos][data-aos-duration="1850"],body[data-aos-duration="1850"] [data-aos] { transition-duration: 1.85s}[data-aos][data-aos][data-aos-delay="1850"],body[data-aos-delay="1850"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1850"].aos-animate,body[data-aos-delay="1850"] [data-aos].aos-animate { transition-delay: 1.85s}[data-aos][data-aos][data-aos-duration="1900"],body[data-aos-duration="1900"] [data-aos] { transition-duration: 1.9s}[data-aos][data-aos][data-aos-delay="1900"],body[data-aos-delay="1900"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1900"].aos-animate,body[data-aos-delay="1900"] [data-aos].aos-animate { transition-delay: 1.9s}[data-aos][data-aos][data-aos-duration="1950"],body[data-aos-duration="1950"] [data-aos] { transition-duration: 1.95s}[data-aos][data-aos][data-aos-delay="1950"],body[data-aos-delay="1950"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="1950"].aos-animate,body[data-aos-delay="1950"] [data-aos].aos-animate { transition-delay: 1.95s}[data-aos][data-aos][data-aos-duration="2000"],body[data-aos-duration="2000"] [data-aos] { transition-duration: 2s}[data-aos][data-aos][data-aos-delay="2000"],body[data-aos-delay="2000"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2000"].aos-animate,body[data-aos-delay="2000"] [data-aos].aos-animate { transition-delay: 2s}[data-aos][data-aos][data-aos-duration="2050"],body[data-aos-duration="2050"] [data-aos] { transition-duration: 2.05s}[data-aos][data-aos][data-aos-delay="2050"],body[data-aos-delay="2050"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2050"].aos-animate,body[data-aos-delay="2050"] [data-aos].aos-animate { transition-delay: 2.05s}[data-aos][data-aos][data-aos-duration="2100"],body[data-aos-duration="2100"] [data-aos] { transition-duration: 2.1s}[data-aos][data-aos][data-aos-delay="2100"],body[data-aos-delay="2100"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2100"].aos-animate,body[data-aos-delay="2100"] [data-aos].aos-animate { transition-delay: 2.1s}[data-aos][data-aos][data-aos-duration="2150"],body[data-aos-duration="2150"] [data-aos] { transition-duration: 2.15s}[data-aos][data-aos][data-aos-delay="2150"],body[data-aos-delay="2150"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2150"].aos-animate,body[data-aos-delay="2150"] [data-aos].aos-animate { transition-delay: 2.15s}[data-aos][data-aos][data-aos-duration="2200"],body[data-aos-duration="2200"] [data-aos] { transition-duration: 2.2s}[data-aos][data-aos][data-aos-delay="2200"],body[data-aos-delay="2200"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2200"].aos-animate,body[data-aos-delay="2200"] [data-aos].aos-animate { transition-delay: 2.2s}[data-aos][data-aos][data-aos-duration="2250"],body[data-aos-duration="2250"] [data-aos] { transition-duration: 2.25s}[data-aos][data-aos][data-aos-delay="2250"],body[data-aos-delay="2250"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2250"].aos-animate,body[data-aos-delay="2250"] [data-aos].aos-animate { transition-delay: 2.25s}[data-aos][data-aos][data-aos-duration="2300"],body[data-aos-duration="2300"] [data-aos] { transition-duration: 2.3s}[data-aos][data-aos][data-aos-delay="2300"],body[data-aos-delay="2300"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2300"].aos-animate,body[data-aos-delay="2300"] [data-aos].aos-animate { transition-delay: 2.3s}[data-aos][data-aos][data-aos-duration="2350"],body[data-aos-duration="2350"] [data-aos] { transition-duration: 2.35s}[data-aos][data-aos][data-aos-delay="2350"],body[data-aos-delay="2350"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2350"].aos-animate,body[data-aos-delay="2350"] [data-aos].aos-animate { transition-delay: 2.35s}[data-aos][data-aos][data-aos-duration="2400"],body[data-aos-duration="2400"] [data-aos] { transition-duration: 2.4s}[data-aos][data-aos][data-aos-delay="2400"],body[data-aos-delay="2400"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2400"].aos-animate,body[data-aos-delay="2400"] [data-aos].aos-animate { transition-delay: 2.4s}[data-aos][data-aos][data-aos-duration="2450"],body[data-aos-duration="2450"] [data-aos] { transition-duration: 2.45s}[data-aos][data-aos][data-aos-delay="2450"],body[data-aos-delay="2450"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2450"].aos-animate,body[data-aos-delay="2450"] [data-aos].aos-animate { transition-delay: 2.45s}[data-aos][data-aos][data-aos-duration="2500"],body[data-aos-duration="2500"] [data-aos] { transition-duration: 2.5s}[data-aos][data-aos][data-aos-delay="2500"],body[data-aos-delay="2500"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2500"].aos-animate,body[data-aos-delay="2500"] [data-aos].aos-animate { transition-delay: 2.5s}[data-aos][data-aos][data-aos-duration="2550"],body[data-aos-duration="2550"] [data-aos] { transition-duration: 2.55s}[data-aos][data-aos][data-aos-delay="2550"],body[data-aos-delay="2550"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2550"].aos-animate,body[data-aos-delay="2550"] [data-aos].aos-animate { transition-delay: 2.55s}[data-aos][data-aos][data-aos-duration="2600"],body[data-aos-duration="2600"] [data-aos] { transition-duration: 2.6s}[data-aos][data-aos][data-aos-delay="2600"],body[data-aos-delay="2600"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2600"].aos-animate,body[data-aos-delay="2600"] [data-aos].aos-animate { transition-delay: 2.6s}[data-aos][data-aos][data-aos-duration="2650"],body[data-aos-duration="2650"] [data-aos] { transition-duration: 2.65s}[data-aos][data-aos][data-aos-delay="2650"],body[data-aos-delay="2650"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2650"].aos-animate,body[data-aos-delay="2650"] [data-aos].aos-animate { transition-delay: 2.65s}[data-aos][data-aos][data-aos-duration="2700"],body[data-aos-duration="2700"] [data-aos] { transition-duration: 2.7s}[data-aos][data-aos][data-aos-delay="2700"],body[data-aos-delay="2700"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2700"].aos-animate,body[data-aos-delay="2700"] [data-aos].aos-animate { transition-delay: 2.7s}[data-aos][data-aos][data-aos-duration="2750"],body[data-aos-duration="2750"] [data-aos] { transition-duration: 2.75s}[data-aos][data-aos][data-aos-delay="2750"],body[data-aos-delay="2750"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2750"].aos-animate,body[data-aos-delay="2750"] [data-aos].aos-animate { transition-delay: 2.75s}[data-aos][data-aos][data-aos-duration="2800"],body[data-aos-duration="2800"] [data-aos] { transition-duration: 2.8s}[data-aos][data-aos][data-aos-delay="2800"],body[data-aos-delay="2800"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2800"].aos-animate,body[data-aos-delay="2800"] [data-aos].aos-animate { transition-delay: 2.8s}[data-aos][data-aos][data-aos-duration="2850"],body[data-aos-duration="2850"] [data-aos] { transition-duration: 2.85s}[data-aos][data-aos][data-aos-delay="2850"],body[data-aos-delay="2850"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2850"].aos-animate,body[data-aos-delay="2850"] [data-aos].aos-animate { transition-delay: 2.85s}[data-aos][data-aos][data-aos-duration="2900"],body[data-aos-duration="2900"] [data-aos] { transition-duration: 2.9s}[data-aos][data-aos][data-aos-delay="2900"],body[data-aos-delay="2900"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2900"].aos-animate,body[data-aos-delay="2900"] [data-aos].aos-animate { transition-delay: 2.9s}[data-aos][data-aos][data-aos-duration="2950"],body[data-aos-duration="2950"] [data-aos] { transition-duration: 2.95s}[data-aos][data-aos][data-aos-delay="2950"],body[data-aos-delay="2950"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="2950"].aos-animate,body[data-aos-delay="2950"] [data-aos].aos-animate { transition-delay: 2.95s}[data-aos][data-aos][data-aos-duration="3000"],body[data-aos-duration="3000"] [data-aos] { transition-duration: 3s}[data-aos][data-aos][data-aos-delay="3000"],body[data-aos-delay="3000"] [data-aos] { transition-delay: 0}[data-aos][data-aos][data-aos-delay="3000"].aos-animate,body[data-aos-delay="3000"] [data-aos].aos-animate { transition-delay: 3s}[data-aos][data-aos][data-aos-easing=linear],body[data-aos-easing=linear] [data-aos] { transition-timing-function: cubic-bezier(.25, .25, .75, .75)}[data-aos][data-aos][data-aos-easing=ease],body[data-aos-easing=ease] [data-aos] { transition-timing-function: ease}[data-aos][data-aos][data-aos-easing=ease-in],body[data-aos-easing=ease-in] [data-aos] { transition-timing-function: ease-in}[data-aos][data-aos][data-aos-easing=ease-out],body[data-aos-easing=ease-out] [data-aos] { transition-timing-function: ease-out}[data-aos][data-aos][data-aos-easing=ease-in-out],body[data-aos-easing=ease-in-out] [data-aos] { transition-timing-function: ease-in-out}[data-aos][data-aos][data-aos-easing=ease-in-back],body[data-aos-easing=ease-in-back] [data-aos] { transition-timing-function: cubic-bezier(.6, -.28, .735, .045)}[data-aos][data-aos][data-aos-easing=ease-out-back],body[data-aos-easing=ease-out-back] [data-aos] { transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)}[data-aos][data-aos][data-aos-easing=ease-in-out-back],body[data-aos-easing=ease-in-out-back] [data-aos] { transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)}[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos] { transition-timing-function: cubic-bezier(.47, 0, .745, .715)}[data-aos][data-aos][data-aos-easing=ease-out-sine],body[data-aos-easing=ease-out-sine] [data-aos] { transition-timing-function: cubic-bezier(.39, .575, .565, 1)}[data-aos][data-aos][data-aos-easing=ease-in-out-sine],body[data-aos-easing=ease-in-out-sine] [data-aos] { transition-timing-function: cubic-bezier(.445, .05, .55, .95)}[data-aos][data-aos][data-aos-easing=ease-in-quad],body[data-aos-easing=ease-in-quad] [data-aos] { transition-timing-function: cubic-bezier(.55, .085, .68, .53)}[data-aos][data-aos][data-aos-easing=ease-out-quad],body[data-aos-easing=ease-out-quad] [data-aos] { transition-timing-function: cubic-bezier(.25, .46, .45, .94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quad],body[data-aos-easing=ease-in-out-quad] [data-aos] { transition-timing-function: cubic-bezier(.455, .03, .515, .955)}[data-aos][data-aos][data-aos-easing=ease-in-cubic],body[data-aos-easing=ease-in-cubic] [data-aos] { transition-timing-function: cubic-bezier(.55, .085, .68, .53)}[data-aos][data-aos][data-aos-easing=ease-out-cubic],body[data-aos-easing=ease-out-cubic] [data-aos] { transition-timing-function: cubic-bezier(.25, .46, .45, .94)}[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],body[data-aos-easing=ease-in-out-cubic] [data-aos] { transition-timing-function: cubic-bezier(.455, .03, .515, .955)}[data-aos][data-aos][data-aos-easing=ease-in-quart],body[data-aos-easing=ease-in-quart] [data-aos] { transition-timing-function: cubic-bezier(.55, .085, .68, .53)}[data-aos][data-aos][data-aos-easing=ease-out-quart],body[data-aos-easing=ease-out-quart] [data-aos] { transition-timing-function: cubic-bezier(.25, .46, .45, .94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quart],body[data-aos-easing=ease-in-out-quart] [data-aos] { transition-timing-function: cubic-bezier(.455, .03, .515, .955)}[data-aos^=fade][data-aos^=fade] { opacity: 0; transition-property: opacity, transform}[data-aos^=fade][data-aos^=fade].aos-animate { opacity: 1; transform: translateZ(0)}[data-aos=fade-up] { transform: translate3d(0, 100px, 0)}[data-aos=fade-down] { transform: translate3d(0, -100px, 0)}[data-aos=fade-right] { transform: translate3d(-100px, 0, 0)}[data-aos=fade-left] { transform: translate3d(100px, 0, 0)}[data-aos=fade-up-right] { transform: translate3d(-100px, 100px, 0)}[data-aos=fade-up-left] { transform: translate3d(100px, 100px, 0)}[data-aos=fade-down-right] { transform: translate3d(-100px, -100px, 0)}[data-aos=fade-down-left] { transform: translate3d(100px, -100px, 0)}[data-aos^=zoom][data-aos^=zoom] { opacity: 0; transition-property: opacity, transform}[data-aos^=zoom][data-aos^=zoom].aos-animate { opacity: 1; transform: translateZ(0) scale(1)}[data-aos=zoom-in] { transform: scale(.6)}[data-aos=zoom-in-up] { transform: translate3d(0, 100px, 0) scale(.6)}[data-aos=zoom-in-down] { transform: translate3d(0, -100px, 0) scale(.6)}[data-aos=zoom-in-right] { transform: translate3d(-100px, 0, 0) scale(.6)}[data-aos=zoom-in-left] { transform: translate3d(100px, 0, 0) scale(.6)}[data-aos=zoom-out] { transform: scale(1.2)}[data-aos=zoom-out-up] { transform: translate3d(0, 100px, 0) scale(1.2)}[data-aos=zoom-out-down] { transform: translate3d(0, -100px, 0) scale(1.2)}[data-aos=zoom-out-right] { transform: translate3d(-100px, 0, 0) scale(1.2)}[data-aos=zoom-out-left] { transform: translate3d(100px, 0, 0) scale(1.2)}[data-aos^=slide][data-aos^=slide] { transition-property: transform}[data-aos^=slide][data-aos^=slide].aos-animate { transform: translateZ(0)}[data-aos=slide-up] { transform: translate3d(0, 100%, 0)}[data-aos=slide-down] { transform: translate3d(0, -100%, 0)}[data-aos=slide-right] { transform: translate3d(-100%, 0, 0)}[data-aos=slide-left] { transform: translate3d(100%, 0, 0)}[data-aos^=flip][data-aos^=flip] { backface-visibility: hidden; transition-property: transform}[data-aos=flip-left] { transform: perspective(2500px) rotateY(-100deg)}[data-aos=flip-left].aos-animate { transform: perspective(2500px) rotateY(0)}[data-aos=flip-right] { transform: perspective(2500px) rotateY(100deg)}[data-aos=flip-right].aos-animate { transform: perspective(2500px) rotateY(0)}[data-aos=flip-up] { transform: perspective(2500px) rotateX(-100deg)}[data-aos=flip-up].aos-animate { transform: perspective(2500px) rotateX(0)}[data-aos=flip-down] { transform: perspective(2500px) rotateX(100deg)}[data-aos=flip-down].aos-animate { transform: perspective(2500px) rotateX(0)}